.dark {
  --primary-brand-color: #171a1b; /* Cor principal do tema escuro */
  --secondary-brand-color: #1d2123; /* Cor secundária */
  --tertiary-brand-color: #5d5d5d; /* Cor terciária */
  --accent-color: #ed145b; /* Cor de destaque */
  --text-color: #d9d9d9; /* Cor do texto */
  --background-color: #171a1b; /* Cor de fundo */
  --link-color: #bb86fc; /* Cor dos links */
  --hover-color: #3700b3; /* Cor ao passar o mouse */
  --border-color: #444; /* Cor das bordas */
  --error-color: #cf6679; /* Cor de erro */
  --success-color: #4caf50; /* Cor de sucesso */
  --warning-color: #ff9800; /* Cor de aviso */
  --info-color: #2196f3; /* Cor de informação */
  --disabled-color: #757575; /* Cor para elementos desativados */
  --logo: url("/assets/urban-vogue/bg-gray-login.jpg"); /* Logo da marca*/
}

.light {
  --primary-brand-color: #ffffff; /* Cor principal do tema claro */
  --secondary-brand-color: #f5f5f5; /* Cor secundária */
  --tertiary-brand-color: #eeeeee; /* Cor terciária */
  --accent-color: #ff4081; /* Cor de destaque */
  --background-color: #ffffff; /* Cor de fundo */
  --text-color: #000000; /* Cor do texto */
  --link-color: #1a73e8; /* Cor dos links */
  --hover-color: #0056b3; /* Cor ao passar o mouse */
  --border-color: #ccc; /* Cor das bordas */
  --error-color: #f44336; /* Cor de erro */
  --success-color: #4caf50; /* Cor de sucesso */
  --warning-color: #ff9800; /* Cor de aviso */
  --info-color: #2196f3; /* Cor de informação */
  --disabled-color: #bdbdbd; /* Cor para elementos desativados */
  --logo: url("/assets/urban-vogue/bg-gray-login.jpg"); /* Logo da marca*/
}

.shadow-snipped {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* toast error */

.chakra-alert[data-status="error"].css-i2y05k {
  background-color: var(--tertiary-brand-color) !important;
  border-left: solid 3px var(--error-color) !important;
  font-size: 15px !important;
}

.chakra-alert__icon[data-status="error"] {
  color: var(--error-color) !important;
}

/* toast warning */

.chakra-alert[data-status="warning"].css-12urbrw {
  background-color: var(--tertiary-brand-color) !important;
  border-left: solid 3px var(--warning-color) !important;
  font-size: 15px !important;
}

.chakra-alert__icon[data-status="warning"] {
  color: var(--warning-color) !important;
}

/* toast success */

.chakra-alert[data-status="success"].css-1af42be {
  background-color: var(--tertiary-brand-color) !important;
  border-left: solid 3px var(--success-color) !important;
  font-size: 15px !important;
}

.chakra-alert__icon[data-status="success"] {
  color: var(--success-color) !important;
}


/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-effect {
    @apply transition ease-in-out duration-200;
  }

  @media (min-width: 1024px) {
    .hover-opacity {
      @apply hover:opacity-60;
    }
    .hover-no-opacity {
      @apply hover:text-custom-textColor;
    }
    .hover-link {
      @apply hover:text-custom-accentColor;
    }
    .hover-bg-text {
      @apply hover:bg-custom-textColor;
    }
    .hover-text-bg {
      @apply hover:text-custom-secondaryBrand;
    }
    .hover-bg-accent {
      @apply hover:bg-custom-accentColor;
    }
    .hover-submit {
      @apply group-hover:translate-x-0;
    }
    .hover-bg-tertiaryBrand {
      @apply hover:bg-custom-tertiaryBrand;
    }
    .hover-item-header {
      @apply hover:-translate-y-1.5;
    }
  }

  @media (max-width: 1024px) {
    .hover-opacity {
      @apply focus:opacity-60;
    }
    .hover-no-opacity {
      @apply focus:text-custom-textColor;
    }
    .hover-link {
      @apply focus:text-custom-accentColor;
    }
    .hover-bg-text {
      @apply focus:bg-custom-textColor;
    }
    .hover-text-bg {
      @apply focus:text-custom-secondaryBrand;
    }
    .hover-bg-accent {
      @apply focus:bg-custom-accentColor;
    }
    .hover-submit {
      @apply group-focus:translate-x-0;
    }
    .hover-bg-tertiaryBrand {
      @apply focus:bg-custom-tertiaryBrand;
    }
  }
}

/* checkbox input */

@layer components {
  .check {
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    position: relative;
  }

  .check::before {
    content: "";
    position: absolute;
    cursor: pointer;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    @apply bg-custom-accentColor/5;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .check:hover::before {
    opacity: 1;
  }

  .check svg {
    @apply stroke-custom-textColor;
    transform: translate3d(0, 0, 0);
  }

  #checkbox:checked + .check svg {
    @apply stroke-custom-textColor;
    @apply bg-custom-accentColor;
    border-radius: 4px;
  }

  #checkbox:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }

  #checkbox:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
}

.beforeEffect::before,
.afterEffect::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  left: 0;
}

.beforeEffect::before {
  bottom: 0;
  background: linear-gradient(150deg, #ed145b, #171a1b, #171a1b);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

.afterEffect::after {
  top: 0;
  background: linear-gradient(300deg, #ed145b, #171a1b, #171a1b);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
